In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["shankar","chetan","chetan"],
    "last" : ["pendse", "joshi","gorkal"],
    "email" : ["pshankar1306@gmail.com", "cjsh@gmail.com", "cg@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal            cg@gmail.com

In [16]:
df['first'] == 'chetan'

0    False
1     True
2     True
Name: first, dtype: bool

## Above output can be treated as filter mask, which can be applied to the dataframe

In [17]:
filt = (df['first'] == 'chetan')

In [18]:
df[filt]

    first    last           email
1  chetan   joshi  cjsh@gmail.com
2  chetan  gorkal    cg@gmail.com

In [19]:
# My preferred method to use .loc (used to look up rows and columns by label) but we can also pass in series of boolean. 
df.loc[filt]

    first    last           email
1  chetan   joshi  cjsh@gmail.com
2  chetan  gorkal    cg@gmail.com

In [20]:
df.iloc[filt]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [23]:
df[df['first'] == 'chetan']

    first    last           email
1  chetan   joshi  cjsh@gmail.com
2  chetan  gorkal    cg@gmail.com

In [24]:
df.loc[filt,'email']

1    cjsh@gmail.com
2      cg@gmail.com
Name: email, dtype: object

## And and OR operators (we can not use and, or keywords in pandas dataframe)
## & - and
## | - or

In [25]:
filt = (df['last'] == 'joshi') & (df['first'] == 'chetan')

In [26]:
df[filt]

    first   last           email
1  chetan  joshi  cjsh@gmail.com

In [27]:
df.loc[filt]

    first   last           email
1  chetan  joshi  cjsh@gmail.com

In [28]:
filt = (df['first'] == 'chetan') | (df['last'] == 'joshi')

In [29]:
df.loc[filt]

    first    last           email
1  chetan   joshi  cjsh@gmail.com
2  chetan  gorkal    cg@gmail.com

In [30]:
df.loc[filt, 'email']

1    cjsh@gmail.com
2      cg@gmail.com
Name: email, dtype: object

## Negating the filter

In [31]:
df.loc[~filt, 'email']

0    pshankar1306@gmail.com
Name: email, dtype: object

In [32]:
df.loc[filt]

    first    last           email
1  chetan   joshi  cjsh@gmail.com
2  chetan  gorkal    cg@gmail.com

In [33]:
df.loc[~filt]

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com

In [34]:
data_df = pd.read_csv("C:/Technical/Teaching/DataScience/Python/Pandas/data/stack-overflow-developer-survey-2019/survey_results_public.csv")

In [35]:
data_df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

## Filter the records which have salary greater than 70000 USD

In [36]:
schema_df = pd.read_csv("C:/Technical/Teaching/DataScience/Python/Pandas/data/stack-overflow-developer-survey-2019/survey_results_schema.csv")

In [37]:
pd.set_option('display.max_rows', 85)

In [38]:
schema_df

                    Column                                       QuestionText
0               Respondent  Randomized respondent ID number (not in order ...
1               MainBranch  Which of the following options best describes ...
2                 Hobbyist                            Do you code as a hobby?
3              OpenSourcer        How often do you contribute to open source?
4               OpenSource  How do you feel about the quality of open sour...
5               Employment  Which of the following best describes your cur...
6                  Country          In which country do you currently reside?
7                  Student  Are you currently enrolled in a formal, degree...
8                  EdLevel  Which of the following best describes the high...
9           UndergradMajor  What was your main or most important field of ...
10                EduOther  Which of the following types of non-degree edu...
11                 OrgSize  Approximately how many people are employed by ...
12                 DevType  Which of the following describe you? Please se...
13               YearsCode  Including any education, how many years have y...
14              Age1stCode  At what age did you write your first line of c...
15            YearsCodePro  How many years have you coded professionally (...
16               CareerSat  Overall, how satisfied are you with your caree...
17                  JobSat  How satisfied are you with your current job? (...
18                MgrIdiot  How confident are you that your manager knows ...
19                MgrMoney  Do you believe that you need to be a manager t...
20                 MgrWant  Do you want to become a manager yourself in th...
21                 JobSeek  Which of the following best describes your cur...
22            LastHireDate  When was the last time that you took a job wit...
23                 LastInt  In your most recent successful job interview (...
24                FizzBuzz  Have you ever been asked to solve FizzBuzz in ...
25              JobFactors  Imagine that you are deciding between two job ...
26            ResumeUpdate  Think back to the last time you updated your r...
27          CurrencySymbol  Which currency do you use day-to-day? If your ...
28            CurrencyDesc  Which currency do you use day-to-day? If your ...
29               CompTotal  What is your current total compensation (salar...
30                CompFreq   Is that compensation weekly, monthly, or yearly?
31           ConvertedComp  Salary converted to annual USD salaries using ...
32             WorkWeekHrs   On average, how many hours per week do you work?
33                WorkPlan            How structured or planned is your work?
34           WorkChallenge  Of these options, what are your greatest chall...
35              WorkRemote                    How often do you work remotely?
36                 WorkLoc                    Where would you prefer to work?
37                  ImpSyn  For the specific work you do, and the years of...
38                 CodeRev           Do you review code as part of your work?
39              CodeRevHrs  On average, how many hours per week do you spe...
40               UnitTests  Does your company regularly employ unit tests ...
41             PurchaseHow  How does your company make decisions about pur...
42            PurchaseWhat  What level of influence do you, personally, ha...
43      LanguageWorkedWith  Which of the following programming, scripting,...
44  LanguageDesireNextYear  Which of the following programming, scripting,...
45      DatabaseWorkedWith  Which of the following database environments h...
46  DatabaseDesireNextYear  Which of the following database environments h...
47      PlatformWorkedWith  Which of the following platforms have you done...
48  PlatformDesireNextYear  Which of the following platforms have you done...
49      WebFrameWorkedWith  Which of the following web frameworks have you...
50  WebFrameDesireNextYear  Which of the following web frameworks have you...
51      MiscTechWorkedWith  Which of the following other frameworks, libra...
52  MiscTechDesireNextYear  Which of the following other frameworks, libra...
53              DevEnviron  Which development environment(s) do you use re...
54                   OpSys  What is the primary operating system in which ...
55              Containers  How do you use containers (Docker, Open Contai...
56           BlockchainOrg  How is your organization thinking about or imp...
57            BlockchainIs  Blockchain / cryptocurrency technology is prim...
58              BetterLife  Do you think people born today will have a bet...
59                ITperson   Are you the "IT support person" for your family?
60                   OffOn        Have you tried turning it off and on again?
61             SocialMedia        What social media site do you use the most?
62            Extraversion    Do you prefer online chat or IRL conversations?
63              ScreenName                               What do you call it?
64              SOVisit1st  To the best of your memory, when did you first...
65             SOVisitFreq  How frequently would you say you visit Stack O...
66               SOVisitTo  I visit Stack Overflow to... (check all that a...
67            SOFindAnswer  On average, how many times a week do you find ...
68             SOTimeSaved  Think back to the last time you solved a codin...
69           SOHowMuchTime  About how much time did you save? If you're no...
70               SOAccount              Do you have a Stack Overflow account?
71              SOPartFreq  How frequently would you say you participate i...
72                  SOJobs  Have you ever used or visited Stack Overflow J...
73                EntTeams  Have you ever used Stack Overflow for Enterpri...
74                  SOComm  Do you consider yourself a member of the Stack...
75           WelcomeChange  Compared to last year, how welcome do you feel...
76            SONewContent  Would you like to see any of the following on ...
77                     Age  What is your age (in years)? If you prefer not...
78                  Gender  Which of the following do you currently identi...
79                   Trans                    Do you identify as transgender?
80               Sexuality  Which of the following do you currently identi...
81               Ethnicity  Which of the following do you identify as? Ple...
82              Dependents  Do you have any dependents (e.g., children, el...
83            SurveyLength  How do you feel about the length of the survey...
84              SurveyEase  How easy or difficult was this survey to compl...

In [40]:
high_salary_filt = (data_df['ConvertedComp'] > 70000)

In [41]:
data_df.loc[high_salary_filt]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
15,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88323,88876,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,NaN,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88324,88877,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,48.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88325,88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88326,88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88329,88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy

## Display country, languages and salary for highsalary records

In [43]:
data_df.loc[high_salary_filt, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
5,Canada,Java;R;SQL,366420.0
8,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
12,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
15,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
21,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88323,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88324,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88325,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88326,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88329,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

## Filter the records where Country is either of USA, India, UK, Germany and Canada

In [44]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']

In [46]:
filt = data_df['Country'].isin(countries)

In [47]:
data_df.loc[filt, 'Country']

0        United Kingdom
3         United States
5                Canada
7                 India
9                 India
              ...
88859     United States
88863    United Kingdom
88864             India
88877     United States
88878            Canada
Name: Country, Length: 45008, dtype: object

## Filter the records where people know Python (LanguageWorkedWith column contains python)

In [48]:
data_df['LanguageWorkedWith']

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88878                        HTML/CSS;JavaScript;Other(s):
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

## we can not do comparision like: data_df['LanguageWorkedWith'] == 'Python'

In [49]:
filt = (data_df['LanguageWorkedWith'].str.contains('Python',na=False))

In [50]:
data_df.loc[filt, ['LanguageWorkedWith', 'ConvertedComp']]

                                      LanguageWorkedWith  ConvertedComp
0                        HTML/CSS;Java;JavaScript;Python            NaN
1                                    C++;HTML/CSS;Python            NaN
3                                    C;C++;C#;Python;SQL        61000.0
4            C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA            NaN
7      Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...            NaN
...                                                  ...            ...
88854  Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...            NaN
88860    Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):            NaN
88865    Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):            NaN
88872           C;C++;HTML/CSS;JavaScript;PHP;Python;SQL            NaN
88876                         HTML/CSS;JavaScript;Python            NaN

[36443 rows x 2 columns]

# Modifying Data within dataframes

In [53]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal            cg@gmail.com

In [52]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [54]:
df.columns = ['first_name', 'last_name', 'email']

In [55]:
df

  first_name last_name                   email
0    shankar    pendse  pshankar1306@gmail.com
1     chetan     joshi          cjsh@gmail.com
2     chetan    gorkal            cg@gmail.com

## Convert columns names to upper case

In [56]:
df.columns = [col.upper() for col in df.columns]

In [57]:
df

  FIRST_NAME LAST_NAME                   EMAIL
0    shankar    pendse  pshankar1306@gmail.com
1     chetan     joshi          cjsh@gmail.com
2     chetan    gorkal            cg@gmail.com

## Have space within column names

In [60]:
df.columns = df.columns.str.replace('_', ' ')

In [61]:
df

  FIRST NAME LAST NAME                   EMAIL
0    shankar    pendse  pshankar1306@gmail.com
1     chetan     joshi          cjsh@gmail.com
2     chetan    gorkal            cg@gmail.com

## Replace space with underscore in column names

In [62]:
df.columns = df.columns.str.replace(' ', '_')

In [63]:
df

  FIRST_NAME LAST_NAME                   EMAIL
0    shankar    pendse  pshankar1306@gmail.com
1     chetan     joshi          cjsh@gmail.com
2     chetan    gorkal            cg@gmail.com

## Change only few columns names

In [64]:
df.rename(columns={'FIRST_NAME': 'first',
                   'LAST_NAME': 'last'})

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal            cg@gmail.com

In [65]:
df

  FIRST_NAME LAST_NAME                   EMAIL
0    shankar    pendse  pshankar1306@gmail.com
1     chetan     joshi          cjsh@gmail.com
2     chetan    gorkal            cg@gmail.com

In [66]:
df.rename(columns={'FIRST_NAME': 'first',
                   'LAST_NAME': 'last'}, inplace = True)

In [67]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal            cg@gmail.com

## Update the data

In [68]:
# Change last name of row 2 from gorkal to patil

In [69]:
df.loc[2]

first          chetan
last           gorkal
EMAIL    cg@gmail.com
Name: 2, dtype: object

In [70]:
df.loc[2] = ['chetan', 'patil', 'chetanpatil@gmail.com']

In [71]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan   patil   chetanpatil@gmail.com

## We have only 3 columns here and we can pass in a list of desired values, if there are 100's of columns, its a lot of pain to pass in the list of values to all the columns

In [72]:
df.loc[2, ['last', 'EMAIL']]

last                     patil
EMAIL    chetanpatil@gmail.com
Name: 2, dtype: object

In [73]:
df.loc[2, ['last', 'EMAIL']] = ['gorkal', 'cgorkal@gmail.com']

In [74]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal       cgorkal@gmail.com

In [75]:
df.loc[2, 'EMAIL'] = 'chgorkal@gmail.com'

In [76]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal      chgorkal@gmail.com

## Mistake people often do

In [77]:
filt = (df['EMAIL'] == 'chgorkal@gmail.com')

In [78]:
df[filt]

    first    last               EMAIL
2  chetan  gorkal  chgorkal@gmail.com

In [79]:
df[filt]['last']

2    gorkal
Name: last, dtype: object

In [80]:
df[filt]['last'] = 'patil'

c:\python3.7.8\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan  gorkal      chgorkal@gmail.com

## Use indexers for setting or changing the values

In [82]:
df.loc[filt,'last']

2    gorkal
Name: last, dtype: object

In [83]:
df.loc[filt,'last'] = 'patil'

In [84]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan   patil      chgorkal@gmail.com

## Till now we have seen how we can update single row of data, lets see how we can update multiple rows of data

## Convert all email addresses to lowecase

In [86]:
df['EMAIL'].str.lower()

0    pshankar1306@gmail.com
1            cjsh@gmail.com
2        chgorkal@gmail.com
Name: EMAIL, dtype: object

In [87]:
df['EMAIL'].str.upper()

0    PSHANKAR1306@GMAIL.COM
1            CJSH@GMAIL.COM
2        CHGORKAL@GMAIL.COM
Name: EMAIL, dtype: object

In [88]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan   patil      chgorkal@gmail.com

In [89]:
df['EMAIL'] = df['EMAIL'].str.upper()

In [90]:
df

     first    last                   EMAIL
0  shankar  pendse  PSHANKAR1306@GMAIL.COM
1   chetan   joshi          CJSH@GMAIL.COM
2   chetan   patil      CHGORKAL@GMAIL.COM

In [91]:
df['EMAIL'] = df['EMAIL'].str.lower()

In [92]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan   patil      chgorkal@gmail.com

## 1) apply
## 2) map
## 3) applymap
## 4) replace

## 1) apply: Can work on dataframe or a series object (behaviour will be different on both)

In [94]:
# check the length of email addresses
df['EMAIL'].apply(len)

0    22
1    14
2    18
Name: EMAIL, dtype: int64

In [100]:
# This can be as complicated as possible, here it is a simple function
def update_email(email):
    return email.upper()

In [96]:
df['EMAIL'].apply(update_email)

0    PSHANKAR1306@GMAIL.COM
1            CJSH@GMAIL.COM
2        CHGORKAL@GMAIL.COM
Name: EMAIL, dtype: object

In [97]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan   patil      chgorkal@gmail.com

In [98]:
df['EMAIL'] = df['EMAIL'].apply(update_email)

In [99]:
df

     first    last                   EMAIL
0  shankar  pendse  PSHANKAR1306@GMAIL.COM
1   chetan   joshi          CJSH@GMAIL.COM
2   chetan   patil      CHGORKAL@GMAIL.COM

In [103]:
# Lets convert emails back to lower case using lambda function
df['EMAIL'] = df['EMAIL'].apply(lambda email: email.lower())

In [104]:
df

     first    last                   EMAIL
0  shankar  pendse  pshankar1306@gmail.com
1   chetan   joshi          cjsh@gmail.com
2   chetan   patil      chgorkal@gmail.com

## Lets check how apply works on dataframe object

In [108]:
# Applying len on a series
df['EMAIL'].apply(len)

0    22
1    14
2    18
Name: EMAIL, dtype: int64

In [109]:
# Applying len on whole dataframe
df.apply(len)

first    3
last     3
EMAIL    3
dtype: int64

In [111]:
len(df['EMAIL'])

3

In [113]:
df.apply(len, axis = 1)

0    3
1    3
2    3
dtype: int64

In [114]:
df.apply(len, axis = 'columns')

0    3
1    3
2    3
dtype: int64

In [116]:
# Return min value on each column
df.apply(pd.Series.min)

first                chetan
last                  joshi
EMAIL    chgorkal@gmail.com
dtype: object

In [117]:
df.apply(lambda x: x.min())

first                chetan
last                  joshi
EMAIL    chgorkal@gmail.com
dtype: object

In [118]:
df.min()

first                chetan
last                  joshi
EMAIL    chgorkal@gmail.com
dtype: object

## Running apply to a series, applies a function to every value in the series, running apply to a dataframe, applies function to every series