In [1]:
nums = [1,2,3,4,5]

In [2]:
my_list1 = []

In [3]:
for ele in nums:
    my_list1.append(ele)

In [4]:
my_list1

[1, 2, 3, 4, 5]

In [5]:
my_list2 = [ele for ele in nums]

In [6]:
my_list2

[1, 2, 3, 4, 5]

In [7]:
my_list1 = []

In [8]:
for ele in nums:
    my_list1.append(ele*ele)

In [9]:
my_list1

[1, 4, 9, 16, 25]

In [10]:
my_list2 = [ele*ele for ele in nums]

In [11]:
my_list2

[1, 4, 9, 16, 25]

In [12]:
num_list = [i for i in range(20)]

In [13]:
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
even_list = []
for ele in num_list:
    if ele%2==0:
        even_list.append(ele)

In [15]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
odd_list = [ele for ele in num_list if ele%2!=0]

In [17]:
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
#[(a,0), (a,1), (a,2), (b,0), (b,1), (b,2), .. (d,2)]
letters = ['a', 'b', 'c', 'd']
pair_list = []
for letter in letters:
    for num in range(3):
        pair_list.append((letter, num))

In [19]:
pair_list

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('d', 0),
 ('d', 1),
 ('d', 2)]

In [20]:
pair_list2 = [(letter, num) for letter in letters for num in range(3)]

In [21]:
pair_list2

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('d', 0),
 ('d', 1),
 ('d', 2)]