mutable, unordered collection of unique hetergenous elements.

since set is an unordred collection, we can not index it.

it only will have unique elements.

In [1]:
my_set = {1, 2, 3, "shankar", 4+8j}

In [2]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [3]:
my_set = {1, 2, 3, 3, "shankar", 4+8j}

In [4]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [5]:
my_empty_set = set()

In [6]:
type(my_empty_set)

set

In [7]:
type(my_set)

set

In [8]:
my_set.add("shankar")

In [9]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [10]:
my_new_set = {1, 3, 'pendse', 'shankar'}

In [11]:
my_new_set

{1, 3, 'pendse', 'shankar'}

In [12]:
my_set.add("software engineer")

In [13]:
my_set

{(4+8j), 1, 2, 3, 'shankar', 'software engineer'}

In [14]:
my_set

{(4+8j), 1, 2, 3, 'shankar', 'software engineer'}

In [15]:
my_new_set

{1, 3, 'pendse', 'shankar'}

In [17]:
my_set.difference(my_new_set)

{(4+8j), 2, 'software engineer'}

In [18]:
my_new_set.difference(my_set)

{'pendse'}

In [19]:
my_set.difference_update(my_new_set)

In [20]:
my_set

{(4+8j), 2, 'software engineer'}

In [32]:
my_set = {1, 2, 3, "shankar", 4+8j}

In [22]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [23]:
my_set.discard(4+8j)

In [24]:
my_set

{1, 2, 3, 'shankar'}

In [25]:
my_set.discard(4+8j)

In [26]:
my_set

{1, 2, 3, 'shankar'}

In [27]:
my_set

{1, 2, 3, 'shankar'}

In [28]:
my_new_set

{1, 3, 'pendse', 'shankar'}

In [29]:
my_set.intersection(my_new_set)

{1, 3, 'shankar'}

In [30]:
my_set.intersection_update(my_new_set)

In [31]:
my_set

{1, 3, 'shankar'}

In [33]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [34]:
my_new_set

{1, 3, 'pendse', 'shankar'}

In [35]:
my_new_set.intersection_update(my_set)

In [36]:
my_new_set

{1, 3, 'shankar'}

In [37]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [39]:
my_new_set

{1, 3, 'pendse', 'shankar'}

In [40]:
my_set.isdisjoint(my_new_set)

False

In [41]:
my_set.intersection(my_new_set)

{1, 3, 'shankar'}

In [42]:
my_another_set = {'datascience', 'ML', 'AI'}

In [43]:
my_set.isdisjoint(my_another_set)

True

In [44]:
my_set.intersection(my_another_set)

set()

In [45]:
my_set.issubset(my_new_set)

False

In [46]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [47]:
my_new_set

{1, 3, 'pendse', 'shankar'}

In [48]:
my_new_set.discard('pendse')

In [49]:
my_new_set

{1, 3, 'shankar'}

In [50]:
my_set.issubset(my_new_set)

False

In [51]:
my_new_set.issubset(my_set)

True

In [52]:
my_set.issuperset(my_new_set)

True

In [53]:
my_set

{(4+8j), 1, 2, 3, 'shankar'}

In [54]:
popped_element = my_set.pop()

In [55]:
popped_element

1

In [56]:
my_set.remove(4+8j)

In [57]:
my_set

{2, 3, 'shankar'}

In [58]:
my_set.remove(4+8j)

KeyError: (4+8j)

In [62]:
my_set.difference(my_new_set)

{2}

In [63]:
my_new_set.difference(my_set)

{1}

In [59]:
my_set

{2, 3, 'shankar'}

In [60]:
my_new_set

{1, 3, 'shankar'}

In [61]:
my_set.symmetric_difference(my_new_set)

{1, 2}

In [64]:
my_new_set.symmetric_difference(my_set)

{1, 2}

In [65]:
my_set.symmetric_difference_update(my_new_set)

In [66]:
my_set

{1, 2}

In [67]:
my_new_set

{1, 3, 'shankar'}

In [68]:
my_set

{1, 2}

In [69]:
my_new_set

{1, 3, 'shankar'}

In [70]:
union_set = my_set.union(my_new_set)

In [71]:
union_set

{1, 2, 3, 'shankar'}

In [72]:
union_set = my_new_set.union(my_set)

In [73]:
union_set

{1, 2, 3, 'shankar'}

In [74]:
my_set.update()

In [75]:
my_set

{1, 2}

In [76]:
my_set.update(my_new_set)

In [77]:
my_set

{1, 2, 3, 'shankar'}

In [78]:
my_set.clear()

In [79]:
my_set

set()

In [80]:
my_new_set

{1, 3, 'shankar'}

In [81]:
my_set = my_new_set.copy()

In [82]:
my_set

{1, 3, 'shankar'}

In [83]:
id(my_set)

2365291191656

In [84]:
id(my_new_set)

2365284119720