dictionary is a set of key value pairs

In [1]:
my_dict1 = {}

In [2]:
my_dict2 = dict()

In [3]:
type(my_dict1)

dict

In [4]:
type(my_dict2)

dict

In [5]:
my_dict1 = {'name': 'shankar', 'place': 'India', 'occupation': 'software engineer'}

In [6]:
type(my_dict1)

dict

In [8]:
my_dict1

{'name': 'shankar', 'place': 'India', 'occupation': 'software engineer'}

lists, sets, dictionaries, tuple: all these are iterables in python

In [15]:
list_keys = ['name', 'place', 'occupation']
list_values = ['shankar', 'India', 'software engineer']

In [16]:
my_dict2 = dict().fromkeys(list_keys, list_values)

In [17]:
my_dict2

{'name': ['shankar', 'India', 'software engineer'],
 'place': ['shankar', 'India', 'software engineer'],
 'occupation': ['shankar', 'India', 'software engineer']}

In [18]:
list_values[0]

'shankar'

In [19]:
list_values[0] = 'pendse'

In [20]:
my_dict2

{'name': ['pendse', 'India', 'software engineer'],
 'place': ['pendse', 'India', 'software engineer'],
 'occupation': ['pendse', 'India', 'software engineer']}

In [21]:
list_keys[0]

'name'

In [24]:
list_keys[0] = 'last_name'

In [25]:
my_dict2

{'name': ['pendse', 'India', 'software engineer'],
 'place': ['pendse', 'India', 'software engineer'],
 'occupation': ['pendse', 'India', 'software engineer']}

In [26]:
my_dict1

{'name': 'shankar', 'place': 'India', 'occupation': 'software engineer'}

In [27]:
my_dict1.get('name')

'shankar'

In [28]:
my_dict1.get('age')

In [29]:
my_dict1.items()

dict_items([('name', 'shankar'), ('place', 'India'), ('occupation', 'software engineer')])

In [30]:
my_dict1.keys()

dict_keys(['name', 'place', 'occupation'])

In [31]:
removed_value = my_dict1.pop('occupation')

In [32]:
removed_value

'software engineer'

In [33]:
my_dict1

{'name': 'shankar', 'place': 'India'}

In [34]:
removed_value = my_dict1.pop('occupation')

KeyError: 'occupation'

In [35]:
removed_value = my_dict1.pop('occupation', 'not found')

In [36]:
removed_value

'not found'

In [37]:
my_dict1

{'name': 'shankar', 'place': 'India'}

In [38]:
my_dict1.popitem()

('place', 'India')

In [39]:
my_dict1

{'name': 'shankar'}

In [40]:
my_dict3 = {}

In [41]:
type(my_dict3)

dict

In [42]:
my_dict3.popitem()

KeyError: 'popitem(): dictionary is empty'

In [43]:
my_dict1

{'name': 'shankar'}

In [45]:
my_dict1.setdefault('place', 'India')

'India'

In [46]:
my_dict1

{'name': 'shankar', 'place': 'India'}

In [47]:
my_dict1.setdefault('occupation')

In [48]:
my_dict1

{'name': 'shankar', 'place': 'India', 'occupation': None}

In [52]:
my_dict4 = {}

In [50]:
my_dict4.update({'a':1, 'b':2, 'c':3})

In [51]:
my_dict4

{'a': 1, 'b': 2, 'c': 3}

In [53]:
my_dict4 = {}

In [54]:
my_dict4

{}

In [56]:
my_dict4.update([['a',1], ['b',2], ['c',3]])

In [57]:
my_dict4

{'a': 1, 'b': 2, 'c': 3}

In [59]:
my_dict4.update([{'d',1}, {'e',2}, {'f',3}])

In [60]:
my_dict4

{'a': 1, 'b': 2, 'c': 3, 'd': 1, 'e': 2, 3: 'f'}

In [61]:
my_dict4.values()

dict_values([1, 2, 3, 1, 2, 'f'])

In [62]:
my_dict4.clear()

In [63]:
my_dict4

{}

In [64]:
my_dict1

{'name': 'shankar', 'place': 'India', 'occupation': None}

In [65]:
my_dict4 = my_dict1.copy()

In [66]:
my_dict4

{'name': 'shankar', 'place': 'India', 'occupation': None}

Nested dictionaries

In [67]:
nested_dict1 = {'key1': 'value1', 'key2': {'key3': 'value3', 'key4': 'value4'}}

In [68]:
nested_dict1

{'key1': 'value1', 'key2': {'key3': 'value3', 'key4': 'value4'}}

In [69]:
nested_dict1.get('key2')

{'key3': 'value3', 'key4': 'value4'}