In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["shankar","athar","chetan"],
    "last" : ["pendse", "shaikh","gorkal"],
    "email" : ["pshankar1306@gmail.com", "atsh@gmail.com", "cg@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com
2   chetan  gorkal            cg@gmail.com

## it makes sense to have unique (different indices for each row, but pandas does not enforce that rule (indices being unique

In [5]:
# email address could be a better index for the data above as that will be unique

In [6]:
df['email']

0    pshankar1306@gmail.com
1            atsh@gmail.com
2              cg@gmail.com
Name: email, dtype: object

In [7]:
df.set_index('email')

                          first    last
email
pshankar1306@gmail.com  shankar  pendse
atsh@gmail.com            athar  shaikh
cg@gmail.com             chetan  gorkal

In [8]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com
2   chetan  gorkal            cg@gmail.com

In [9]:
df.set_index('email', inplace=True)

In [10]:
df

                          first    last
email
pshankar1306@gmail.com  shankar  pendse
atsh@gmail.com            athar  shaikh
cg@gmail.com             chetan  gorkal

In [11]:
df.index

Index(['pshankar1306@gmail.com', 'atsh@gmail.com', 'cg@gmail.com'], dtype='object', name='email')

In [12]:
df.loc['pshankar1306@gmail.com']

first    shankar
last      pendse
Name: pshankar1306@gmail.com, dtype: object

In [13]:
df.loc[['pshankar1306@gmail.com']]

                          first    last
email
pshankar1306@gmail.com  shankar  pendse

In [14]:
df.loc['pshankar1306@gmail.com', 'first']

'shankar'

In [15]:
df.loc[0]

KeyError: 0

In [16]:
df.iloc[0]

first    shankar
last      pendse
Name: pshankar1306@gmail.com, dtype: object

In [17]:
df.reset_index()

                    email    first    last
0  pshankar1306@gmail.com  shankar  pendse
1          atsh@gmail.com    athar  shaikh
2            cg@gmail.com   chetan  gorkal

In [18]:
df

                          first    last
email
pshankar1306@gmail.com  shankar  pendse
atsh@gmail.com            athar  shaikh
cg@gmail.com             chetan  gorkal

In [19]:
df.reset_index(inplace=True)

In [21]:
df

                    email    first    last
0  pshankar1306@gmail.com  shankar  pendse
1          atsh@gmail.com    athar  shaikh
2            cg@gmail.com   chetan  gorkal

## We can even set the index while creating the dataframe instead of using set index method

In [23]:
df_data = pd.read_csv("C:/Technical/Teaching/DataScience/Python/Pandas/data/stack-overflow-developer-survey-2019/survey_results_public.csv", index_col= 'Respondent')

In [24]:
df_data

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [26]:
df_schema = pd.read_csv("C:/Technical/Teaching/DataScience/Python/Pandas/data/stack-overflow-developer-survey-2019/survey_results_schema.csv")

In [27]:
df_schema

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [29]:
df_schema = pd.read_csv("C:/Technical/Teaching/DataScience/Python/Pandas/data/stack-overflow-developer-survey-2019/survey_results_schema.csv", index_col = 'Column')

In [30]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [35]:
df_schema.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [36]:
df_schema.loc['MgrIdiot']

QuestionText    How confident are you that your manager knows ...
Name: MgrIdiot, dtype: object

In [37]:
df_schema.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [38]:
df_schema.sort_index()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

In [39]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [40]:
df_schema.sort_index(ascending=False)

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]