In [1]:
person = {
    "first": "shankar",
    "last" : "pendse",
    "email" : "pshankar1306@gmail.com"
}

In [2]:
people = {
    "first": ["shankar"],
    "last" : ["pendse"],
    "email" : ["pshankar1306@gmail.com"]
}

### Keys are columns, values are rows

In [3]:
people = {
    "first": ["shankar","athar","chetan"],
    "last" : ["pendse", "shaikh","gorkal"],
    "email" : ["pshankar1306@gmail.com", "atsh@gmail.com", "cg@gmail.com"]
}

In [4]:
people['email']

['pshankar1306@gmail.com', 'atsh@gmail.com', 'cg@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com
2   chetan  gorkal            cg@gmail.com

### 0, 1, 2 are called as index (row index: unique value for rows, does not need to be unique)

In [8]:
df['first']

0    shankar
1      athar
2     chetan
Name: first, dtype: object

In [9]:
df['email']

0    pshankar1306@gmail.com
1            atsh@gmail.com
2              cg@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

## Series is a list of data, but has a lot of functionality associated with it. It is a one dimensional array. (rows of a single column)

## Series also has an index just like dataframe has

## Dataframe: basically a container for multiple series objects. Dataframe is alwasy a two dimensional object

In [11]:
df['email']

0    pshankar1306@gmail.com
1            atsh@gmail.com
2              cg@gmail.com
Name: email, dtype: object

In [12]:
df.email

0    pshankar1306@gmail.com
1            atsh@gmail.com
2              cg@gmail.com
Name: email, dtype: object

## Preferred is first one, its a personal choice..

## Access multiple columns

In [13]:
df[['last', 'email']]

     last                   email
0  pendse  pshankar1306@gmail.com
1  shaikh          atsh@gmail.com
2  gorkal            cg@gmail.com

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

## iloc and loc (integer location and location)

In [17]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com
2   chetan  gorkal            cg@gmail.com

In [16]:
df.iloc[0]

first                   shankar
last                     pendse
email    pshankar1306@gmail.com
Name: 0, dtype: object

In [33]:
df.iloc[[0]]

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com

In [19]:
df.iloc[[0,1]]

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com

In [20]:
df.iloc[[0,1],['first']]

IndexError: .iloc requires numeric indexers, got ['first']

In [21]:
df.iloc[[0,1],[0,2]]

     first                   email
0  shankar  pshankar1306@gmail.com
1    athar          atsh@gmail.com

In [22]:
df.iloc[[0,1],[0,1]]

     first    last
0  shankar  pendse
1    athar  shaikh

In [23]:
df.iloc[[0,1],1]

0    pendse
1    shaikh
Name: last, dtype: object

In [24]:
df.iloc[[0,1],[1]]

     last
0  pendse
1  shaikh

In [26]:
df.iloc[[0,1]]

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com

In [28]:
df.iloc[[0,1]][['first']]

     first
0  shankar
1    athar

In [29]:
df.iloc[[0,1]]['first']

0    shankar
1      athar
Name: first, dtype: object

In [30]:
df

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
1    athar  shaikh          atsh@gmail.com
2   chetan  gorkal            cg@gmail.com

In [32]:
df.loc[[0]]

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com

In [34]:
df.loc[0]

first                   shankar
last                     pendse
email    pshankar1306@gmail.com
Name: 0, dtype: object

In [35]:
df.loc[[0,2]]

     first    last                   email
0  shankar  pendse  pshankar1306@gmail.com
2   chetan  gorkal            cg@gmail.com

In [36]:
df.loc[[0,2],'first']

0    shankar
2     chetan
Name: first, dtype: object

In [38]:
df.loc[[0,2],['first','email']]

     first                   email
0  shankar  pshankar1306@gmail.com
2   chetan            cg@gmail.com